{% assign image_url = "backg2.jpeg" %}
{% assign container_height = "230px" %}

<div class="background-image" style="height: {{ container_height }};">
    <img src="{{ image_url | asset_url }}" loading="lazy" alt="Header Image" width="100%" height="auto">
</div>

{% style %}
    .background-image {
        overflow: hidden;
        position: relative;
    }

    .background-image img {
        display: block;
        position: relative;
        z-index: 1;
        filter: brightness(40%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
{% endstyle %}