{{ 'caption.css' | asset_url | stylesheet_tag }}
<div class="caption-container">
        <img src="{{ "Caption.PNG" | asset_url }}" width="100%" height="auto" loading="lazy" alt="Header Logo" >

    <button class="caption-button">@MIRALOU</button>
</div>