<footer class="footer">
    <div class="footer-logo">
        <h2>Miralou</h2>
        <div>
          <p class="footer-p">{{ section.settings.footer_title }}</p>
        </div>
        <div class="footer-social-icons">
            {% render 'icon-facebook' %}
            {% render 'icon-venmo' %}
            {% render 'icon-instagram' %}
            {% render 'icon-twitter' %}
        </div>
    </div>
    <div class="footer-info">
        <div class="footer-title">
            <h6>INFORMATION</h6>
        </div>
        <div class="footer-links">
            <a href="">About Miralou</a>
            <a href="">FAQ</a>
            <a href="">Contact Us</a>
        </div>
    </div >
    <div class="footer-quick-links">
        <div class="footer-title">
            <h6>QUICK LINKS</h6>
        </div>
        <div class="footer-links"> 
            <a href="">Wishlist</a>
            <a href="">Checkout</a>
            <a href="">Cart</a>
        </div>
    </div>
    <div class="footer-contact">
        <div class="footer-title">
            <h6>CONTACT US</h6>
        </div>
        <div class="footer-address-wrapper">
            <div class="footer-map">
                {% render 'icon-map-pin' %}
                <p>{{ section.settings.footer_map }}</p>
            </div>
            <div class="footer-phone">
                {% render 'icon-phone' %}
                <p>{{ section.settings.footer_phone }}</p>
            </div>
            <div class="footer-mail">
                {% render 'icon-mail' %}
                <p>{{ section.settings.footer_email }}</p>
            </div>
        </div>
    </div>
    <hr class="footer-divider">
    <div class="footer-text-group">
        <p class="footer-text">COPYRIGHT 2022 MIRALOU</p>
        <p class="footer-text">ALL RIGHT RESERVED</p>
    </div>
</footer>


{% schema %}
{
    "name": "Footer",
    "settings": [
         {
            "type": "text",
            "id": "footer_title",
            "label": "Title",
            "default": "Lorem ipsum, dolor sit amet consectetur adipisicing elit"
         },
         {
            "type": "text",
            "id": "footer_map",
            "label": "Map Address",
            "default": "2715 Ash Dr. San Jose, South Dakota 83475"
         },
         {
            "type": "text",
            "id": "footer_phone",
            "label": "Phone Address",
            "default": "(808) 555-011"
         },
         {
            "type": "text",
            "id": "footer_email",
            "label": "example@example.com",
            "default": "2715 Ash Dr. San Jose, South Dakota 83475"
         }
        ]
}
{% endschema %}