{{ 'newsletter.css' | asset_url | stylesheet_tag }}
<div class="newsletter-container">
  <h2>Subscribe to our Newsletter</h2>
  <p>Stay up-to-date with our latest news and promotions!</p>
  <form action="/subscribe" method="post">
    <input type="email" name="email" placeholder="Your email address" required>
    <button type="submit">Subscribe</button>
  </form>
</div>