{{ 'newsletter.css' | asset_url | stylesheet_tag }}
<div class="newsletter-container">
    <div class="newsletter-text"> 
        <h2>OUR NEWSLETTER</h2>
        <p>Stay up-to-date with our latest news and promotions!</p>
    </div>
  <form action="/subscribe" method="post">
    <input type="email" name="email" placeholder="Your email address" required>
    <button type="submit">Subscribe</button>
  </form>
</div>