{{ 'template-collection.css' | asset_url | stylesheet_tag }}
<div>
  {% render 'banner-image' %}
</div> <!-- Close the div for banner image -->

<div class="collection-container">
  {% paginate collection.products by section.settings.products_per_row %}
  <div class="collection-wrapper">

    <div class="products">
      {% for product in collection.products %}
        {% render 'product-card', product:product %}
      {% endfor %}
    </div>
  </div>
  {% render 'pagination', pagination:paginate %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Collection Product Grid",
  "settings": [
    {
      "type": "range",
      "id": "products_per_row",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Products per Row"
    }
  ]
}
{% endschema %}


