/* cart.css */

/* General Styles */


.cart-wrapper {
  display: flex;
  justify-content: center;
}







body {
    font-family: Arial, sans-serif;
  }






  
  .max-w {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .max-w-2 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-3xl {
    font-size: 3rem;
  }
  
  .text-blue {
    color: blue;
  }
  
  .table-auto {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-auto th,
  .table-auto td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .table-auto th {
    text-align: left;
  }
  
  /* Specific Styles */
  .table-row:hover {
    background-color: #f2f2f2;
  }
  
  .py-4,
  .py-4-urls,
  .py-4-t,
  .py-4-price {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .cart-variants{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .cart-variants .text-sm {
    text-decoration: none;
    font-weight: 600;
    color: var(--red-color)
  }

  
  .py-4-t input {
    width: 50px; /* Adjust as needed */
  }
  
  .cart-subtotal {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .text-xl {
    font-size: 1.25rem; /* Adjust as needed */
  }
  
  .cart-button,
  .crat-button {
    color: var(--red-color);
    border: 1px solid var(--red-color);
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .cart-variant{
    color: var(--dark-gray-color);
  }
  .cart-button:hover,
  .crat-button:hover {
    background-color: var(--red-color);
  }
  
  .cart-empty-container {
    text-align: center;
  }
  
  .cart-p-text {
    font-size: 1.5rem;
  }
  
  
  