.feature-container {
    position: relative;
    overflow: hidden;
}

.trapezoid {
    position: absolute;
    top: 0;
    left: 0;
    width: 160%;
    height: 100%;
    background-color: var(--black-color);
    clip-path: polygon(0 0, 100% 0, 0% 90%, 0% 60%);
    z-index: -1;
    overflow: hidden;
}

.content {
    position: relative;
    /* Ensure content is positioned relative to feature-container */
    z-index: 1;
    /* Ensure content appears above the trapezoid */
}

.text-groups {
    text-align: start;
    padding: 4% 0 0 9%;
    width: 50%;
}

.text-groups h3 {
    color: var(--red-color);
    font-size: var(--h3-font-size);
}

.text-groups p {
    color: var(--gray-color);
    font-size: var(--p3-font-size);
}

.img-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: flex-start;
    /* Align items at the start */
    max-width: 60%;
    margin: auto;
}

.feature-img {
    position: relative;
    text-align: center;
}

.feature-img .img-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: calc(50% + 20px);
    padding: 20px 0;
    color: var(--white-color);
    border-radius: 5px;
    text-align: end;
}

.img-text h4 {
    color: var(--red-color);
    font-size: var(--h4-font-size);
    
}

.img-text h6 {
    color: var(--white-color);
    font-size: var(--h6-font-size);
}

.feature-title,
.feature-paragraph {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.my-8 {
    text-align: center;
    max-width: 62rem;
    margin: 0 auto;
    margin-top: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.featured-title {
    width: 85%;
    display: flex;
    align-items: start;
}

.load-btn {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    margin-top: 20px;
    /* Adjust margin top as needed */
}

.load-btn button {
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: var(--gray-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.load-btn a {
    text-decoration: none;
    color: var(--white-color);
}

.load-btn button:hover {
    background-color: var(--dark-gray-color);
}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}