html, body{
    font-family: var(--font-poppins-regular);
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .section-content {
    min-height: calc(100vh - 250px)
    
  }
  
  .heading {
    font-family: var(--font-barlow-bold);
  }
  
  .subtitle {
    font-family: var(--font-poppins-semibold);
  }


.footer {
    width: 100%;
    height: 250px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--black-color);
}

.footer-p {
    font-size: 12px;
    color: var(--white-color);
    width: 75%;
}

.footer-title h6 {
    color: var(--red-color);
}

.footer-logo,
.footer-info,
.footer-quick-links,
.footer-contact {
    /* flex: 1 1 25%; */
    padding: 0 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;
    align-items: baseline;
}

.footer-links a {
    text-decoration: none;
    color: var(--white-color);
}

.footer-info,
.footer-quick-links,
.footer-contact {
    color: var(--white-color);
    font-size: 14px;
    text-align: justify;
}

.footer-logo h2 {
    color: var(--white-color);
}

.footer-phone,
.footer-map,
.footer-mail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-mail-icon,
.footer-map-icon,
.footer-phone-icon {
    color: var(--red-color);
}

.footer-facebook,
.footer-twitter,
.footer-venmo,
.footer-insta {
    background-color: var(--white-color);
}

.footer-social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
}

.footer-address-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-divider {
    max-width: 960px;
    border: 1px solid var(--red-color);
    margin: 10px 0;
    width: -webkit-fill-available;
}

.footer-text {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.footer-text-group {
    display: flex;
    color: var(--white-color);
    width: 100%;
}


/* PRODUCT CARD */

.w-full {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.border {
    border-width: 1px;
}

.bg-white {
    background-color: var(--white-color);
}

.shadow-lg {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.rounded-lg {
    border-radius: 0.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.h-80 {
    height: 20rem;
}

.object-cover {
    object-fit: cover;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.p-4 {
    padding: 1rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-gray-400 {
    color: var(--white-color);
}

.text-gray-700 {
    color: var(--white-color);
}

.text-gray-500 {
    color: var(--white-color);
}

.uppercase {
    text-transform: uppercase;
}

.font-medium {
    font-weight: 500;
}

.custom-dropdown {
    position: absolute;
    z-index: 10;
    margin-left: -1.25rem;
    /* -ml-5 in tailwind */
    margin-top: 1.25rem;
    /* mt-5 in tailwind */
    transform: translateX(-50%);
    /* -translate-x-1/2 in tailwind */
    padding: 0.5rem;
    /* px-2 in tailwind */
    width: 100vw;
    /* w-screen in tailwind */
    max-width: 28rem;
    /* max-w-md in tailwind */
}

.custom-dropdown .dropdown-content {
    display: grid;
    gap: 1.5rem;
    /* gap-6 in tailwind */
    background-color: var(--white-color);
    /* bg-white in tailwind */
    padding: 1rem;
    /* px-5 py-6 in tailwind */
}

.relative-click {
    position: relative;
}

.custom-dropdown .dropdown-content .sublink {
    margin: -0.75rem;
    /* -m-3 in tailwind */
    padding: 0.75rem;
    /* p-3 in tailwind */
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    /* rounded-lg in tailwind */
    transition: background-color 0.3s ease;
    /* hover:bg-gray-100 in tailwind */
}

.custom-dropdown .dropdown-content .sublink:hover {
    background-color: var(--white-color);
    /* hover:bg-gray-100 in tailwind */
}

.custom-dropdown .dropdown-content .sublink .ml-4 {
    margin-left: 1rem;
    /* ml-4 in tailwind */
}

.custom-dropdown .dropdown-content .sublink .text-gray-900 {
    color: var(--black-color);
    /* text-gray-900 in tailwind */
    font-size: 1rem;
    /* text-base in tailwind */
    font-weight: 500;
    /* font-medium in tailwind */
}