.newsletter-container {
    max-width: 100%;
    justify-content: center;
    margin: revert-layer;
    text-align: center;
    display: flex;
    gap: 30px;
    background-color: var(--black-color);
    padding: 20px;
}

.newsletter-text {
    max-width: 22%;
}

.newsletter-confirm-p {
    color: var(--white-color);
    font-weight: 600;
}

.newsletter-text h4 {
    color: var(--white-color);
    text-align: left;
}

.newsletter-text p {
    text-align: left;
    color: var(--white-color);
    font-size: var(--p5-font-size);
}


.newsletter-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-container input[type="email"] {
    padding: 10px;
    width: 300px;
    border: 1px solid var(--red-color);
    border-radius: 5px;
    background-color: var(--black-color);
}

.newsletter-container button {
    padding: 10px 40px;
    background-color: var(--red-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}