.collection-container {
    padding: 2rem 1rem;
}

.collection-title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.filter-product {
    border-style: none;
}

.collection-sort {
    display: flex;
    align-items: center;
}

.collection-wrapper {
    max-width: 55rem;
    margin: 0 auto;
    position: relative;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr));
    gap: 10px;
    margin-top: 30px;
}

.product-card {
    border: none;
    padding: 0;
    text-align: center;
    margin: auto;
}

.product-card img {
    height: 180px;
    margin-bottom: 10px;
    width: 200px;
    object-fit: cover;
    
}

.product-details {
    text-align: center;
}

.brand {
    font-weight: bold;
}

.price {
    margin-top: 10px;
    font-weight: bold;
}



.collection-product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Adjustments for responsiveness */

@media screen and (max-width: 768px) {
    .collection-product-grid .product {
        width: calc((100% / 2) - 2rem);
        /* Adjust margin as needed */
    }
}

@media screen and (max-width: 480px) {
    .collection-product-grid .product {
        width: calc((100% / 1) - 2rem);
        /* Adjust margin as needed */
    }
}